:root {
    --primary-color: rgb(129 23 29);
    --secondary-color: rgb(255, 255, 255);
    --gradient-color: rgb(167, 64, 64);
    --background-color: rgb(126, 79, 79);
}

* {
    margin: 0;
    padding: 0;
}

nav a.uk-logo {
    letter-spacing: 5px;
    font-weight: lighter;
    font-size: 40px;
}

.hero {
    width: 100%;
    height: 400px;
    background-image: url("../images/pexels-anni-roenkae-3219951.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* SECTION BOOKMARK TAB STYLES 
h2 {
    width: 100%;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}*/

.section {
    padding-top: 20px;
}

.section-title {
    text-align: right;
    padding-right: 10px;
    border-right: 7px solid var(--primary-color);
}
/*
.section-title h2 {
    padding-right: 5%;
    text-align: right;
    color: var(--secondary-color);
    text-shadow: 3px 3px 3px black;
}*/
/* SECTION BOOKMARK TAB STYLES END */

/* ABOUT ME STYLES */

.about-me img {
    width: auto;
    height: auto;
    max-height: 300px;
    border-radius: 50%;
    transition: 1s;
}
/* Transitions to larger image and border on hover*/
.about-me img:hover {
    max-height: 350px;
    border: 10px var(--gradient-color);
    border-style: groove;
}
/* ABOUT ME STYLES END */

/* MY WORK STYLES */
.my-work {
    justify-content: space-between;
}

#run-buddy {
    padding-left: 0px;
}

.run-buddy {
    height: 500px;
    opacity: 0.5;
    background-image: url("../images/runbuddysc.PNG");
    transition: .5s;
}
/* MY WORK STYLES END */

/* FOOTER STYLES */
footer {
    margin-top: 50px;
    height: 200px;
}

.contact-links {
    justify-content: space-around;
    align-items: center;
}

footer section a {
    padding: 5px 5px;
    height: fit-content;
    width: fit-content;
    font-size: 1.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    transition: .5s;
}
/* Displays red box around contact links on hover
footer a:hover {
    background-color: var(--primary-color);
    border-radius: 15px;
}*/
/* FOOTER STYLES END*/

/* Media query for small desktop screens and smaller */
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
        font-size: 55px;
    }

    header nav ul {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 35px;
    }

    .hero {
        height: 300px;
    }

    .about-me {
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        position: relative;
    }

    .section-title div {
        width: 25%;
    }

    .about-me h2 {
        text-align: center;
    }

    .section-title p {
        margin-top: 15px;
        width: 100%;
    }

    .about-me img {
        margin-top: 0px;
    }

    footer section a {
        font-size: 35px;
    }
}

/* Media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    .section-title div {
        width: 100%;
    }

    .section-title div h2 {
        font-size: 50px;
    }
}