:root {
    --primary-color: rgb(95, 0, 0);
    --secondary-color: white;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: var(--primary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    color: var(--secondary-color);
    font-weight: lighter;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
}

header a {
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
}

header nav ul li a:hover {
    background-color: black;
    border-radius: 15px;
}

.hero {
    width: 100%;
    height: 400px;
    background-image: url("../images/placeholder.jpg");
}

section.section-title {
    display: flex;
    flex: wrap;
    background-color: rgb(68, 63, 63);
}

h2 {
    width: 100%;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-title div {
    width: 25%;
    height: fit-content;
    margin: 20px 0 20px 0;
    display: flex;
    background-color: var(--primary-color);
    align-self: baseline;
}

.section-title h2 {
    padding-right: 5%;
    text-align: right;
    color: var(--secondary-color);
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me p {
    width: 40%;
    color: var(--secondary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 50px;
    line-height: 1.5;
}

.about-me img {
    width: auto;
    height: auto;
    max-height: 400px;
    margin: auto;
    margin-top: 50px;
    border-radius: 50%;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
}

.project1 {
    width: 90%;
    margin: 5px auto;
    
}

.project1:hover, .projects:hover {
    opacity: 1;
}

.run-buddy {
    display: flex;
    height: 500px;
    width: 100%;
    opacity: 0.6;
    background-image: url("../images/runbuddysc.PNG");
    background-position: top;
    background-size: cover;
}

.run-buddy:hover {
    opacity: 1;
}

.horiseon {
    display: flex;
    width: 100%;
    background-image: url("../images/horiseon-screenshot.png");
    background-position: top;
    background-size: cover;
}

.projects {
    display: flex;
    height:300px;
    width: 90%;
    margin: 5px auto;
    opacity: 0.6;
}

.project3 {
    display: flex;
    width: 100%;
    background-image: url("../images/placeholder.jpg");
}

figcaption {
    display: flex;
    opacity: 1;
    width: 25%;
    height: 20%;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

footer {
    height: 200px;
    background-color: var(--primary-color);
}

footer h2 {
    height: fit-content;
}

.contact-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div a {
    padding: 5px 5px;
    height: fit-content;
    width: fit-content;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--secondary-color);
}

footer a:hover {
    background-color: black;
    border-radius: 10px;
}